@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Outfit:wght@300;600;700&display=swap');

:root {
    --clr-soft-blue: #8BACD9;
    --clr-cyan: #00FFF8;
    --clr-very-dark-blue-bg: #0D192C;
    --clr-very-dark-blue-card: #15263F;
    --clr-very-darl-blue-line: #2E405A;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--clr-very-dark-blue-bg);
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

figure {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 543px;
    background-color: var(--clr-very-dark-blue-card);
}

.card-header__image {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    width: 278px;
    height: 278px;
    border-radius: 8px;
}

.card-content__header {
    color: white;
    margin: 16px 24px;
    font-weight: 600;
}

.card-content__description {
    color: var(--clr-soft-blue);
    margin: 0 24px;
    margin-bottom: 16px;
}

.card-content__pricing {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 24px;
    font-size: 15px;
}

.card-content__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-right: 6px;
}

#eth {
    color: var(--clr-cyan);
    font-weight: bold;
}

#time {
    color: var(--clr-soft-blue)
}

.card-content__separator {
    border: 1px solid var(--clr-very-darl-blue-line);
    margin-right: 24px;
    margin-left: 24px;
}

.card-content__author {
    margin-top: 16px;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
}

.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid white;
    border-radius: 50%;
}

.card-content__author-name {
    color: var(--clr-soft-blue);
    font-size: 15px;
    margin-left: 16px;
}

.card-content__highlight {
    color: white;
    font-size: 15px;
}